@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply font-body text-foreground bg-background text-base;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading text-foreground leading-[1.3] font-normal;
  }

  h1 {
    @apply text-6xl lg:text-7xl;
  }

  h2 {
    @apply text-5xl lg:text-6xl;
  }

  h3 {
    @apply text-4xl lg:text-5xl;
  }

  h4 {
    @apply text-3xl lg:text-4xl;
  }

  h5 {
    @apply text-2xl lg:text-3xl;
  }

  h6 {
    @apply text-xl lg:text-2xl;
  }

  p,
  li {
    @apply font-body font-light;
  }

  button:not(:disabled),
  [role='button']:not(:disabled) {
    @apply cursor-pointer;
  }

  *::placeholder {
    @apply text-foreground-light;
  }

  .eyebrow {
    @apply text-accent text-lg font-semibold tracking-[0.175em] uppercase;
  }

  .image-cover {
    @apply h-full w-full object-cover;
  }

  .image-contain {
    @apply h-full w-full object-cover;
  }

  .custom-scrollbar {
    @apply [&::-webkit-scrollbar-thumb]:bg-accent [&::-webkit-scrollbar-track]:bg-background-muted [&::-webkit-scrollbar]:w-1 [&::-webkit-scrollbar-thumb]:rounded-full [&::-webkit-scrollbar-track]:rounded-full;
  }
}
