@theme {
  --color-foreground: #2c2621;
  --color-foreground-light: #948685;

  --color-background: #fbfaf9;
  --color-background-accent: #f9eee6;
  --color-background-muted: #f5f2f1;

  --color-accent: #846854;

  --color-success: #2ec1ac;
  --color-danger: #e97171;

  --color-border: #846854;

  --font-heading: 'Libre Baskerville', sans-serif;
  --font-body: 'Poppins', sans-serif;

  --radius-base: 0rem;

  /*
  This does not show in the theme editor
  but is used to override the defaults based on the user's selection for radius-base
  */
  --radius-xs: calc(var(--radius-base) * 0.25);
  --radius-sm: calc(var(--radius-base) * 0.5);
  --radius-md: var(--radius-base);
  --radius-lg: calc(var(--radius-base) * 1.5);
  --radius-xl: calc(var(--radius-base) * 2);
  --radius-2xl: calc(var(--radius-base) * 3);
  --radius-3xl: calc(var(--radius-base) * 4);
  --radius-4xl: calc(var(--radius-base) * 5);
}
