/* boxed */
.boxed {
  > div {
    @apply mx-auto! max-w-5xl;
  }
}

/* Add highlight */
.highlighted-top,
.highlighted-bottom,
.highlighted-left,
.highlighted-right {
  > div {
    @apply border-accent! my-6 p-6;
  }
}
.highlighted-top > div {
  @apply border-t;
}

.highlighted-bottom > div {
  @apply border-b;
}

.highlighted-left > div {
  @apply border-l;
}

.highlighted-right > div {
  @apply border-r;
}

.arrow-btn {
  @apply border-b-accent text-accent inline-flex items-center justify-start gap-3 border-b-1 leading-8;

  &::after {
    @apply bg-accent inline-block h-3 w-11 mask-[url('./images/arrow.svg')] bg-contain bg-no-repeat mask-contain mask-center mask-no-repeat content-[''];
  }
}

.carousel-btn {
  @apply !text-foreground bg-background z-10 size-12 content-center rounded-full shadow-md;
}

.surface-btn {
  @apply bg-background-surface text-accent flex size-6 items-center justify-center rounded font-bold transition-shadow hover:shadow-md;

  &[disabled] {
    @apply pointer-events-none opacity-60;
  }

  &.surface-btn-lg {
    @apply size-8 text-lg;
  }
}

.action-btn {
  @apply text-accent hover:text-accent/80 hover:border-accent/80 border-accent flex h-10 items-center gap-3 border-b bg-transparent text-lg font-semibold;
}

.main-btn {
  @apply bg-accent text-background hover:bg-accent/95 flex w-full items-center justify-center rounded-md p-3 text-center text-lg font-semibold transition-all hover:shadow-md;

  &[disabled] {
    @apply pointer-events-none opacity-60;
  }
}
