@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply font-body text-foreground bg-background dark:text-foreground-dark dark:bg-background-dark text-base;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading text-foreground dark:text-foreground-dark leading-[1.3] font-bold;
  }

  h1 {
    @apply text-5xl lg:text-6xl;
  }

  h2 {
    @apply text-4xl lg:text-5xl;
  }

  h3 {
    @apply text-3xl lg:text-4xl;
  }

  h4 {
    @apply text-2xl lg:text-3xl;
  }

  h5 {
    @apply text-xl lg:text-2xl;
  }

  h6 {
    @apply text-lg lg:text-xl;
  }

  p {
    @apply font-body text-foreground dark:text-foreground-dark;
  }

  button:not(:disabled),
  [role='button']:not(:disabled) {
    @apply cursor-pointer;
  }

  *::placeholder {
    @apply text-foreground dark:text-foreground-dark;
  }

  .eyebrow {
    @apply text-accent text-lg font-semibold tracking-[0.175em] uppercase;
  }

  .image-cover {
    @apply h-full w-full object-cover;
  }

  .image-contain {
    @apply h-full w-full object-cover;
  }

  .custom-scrollbar {
    @apply [&::-webkit-scrollbar-thumb]:bg-accent-muted [&::-webkit-scrollbar-track]:bg-background [&::-webkit-scrollbar-track]:dark:bg-background-dark [&::-webkit-scrollbar]:w-1 [&::-webkit-scrollbar-thumb]:rounded-full [&::-webkit-scrollbar-track]:rounded-full;
  }
}
