.four-column-cta {
  font-family: 'GPCommerce', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  
  @include respond-to(mobile-large) {
    padding: 0 $size-padding;
  }
  
  h2, h3, h4 {
    font-family: 'GPCommerce', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #0C0C0C; // Storybook text color
  }
  
  p {
    font-family: 'GPCommerce', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1.8rem; // Storybook body font size
    color: #0C0C0C; // Storybook text color
  }

  a {
    text-decoration: none;

    &:hover {
      color: unset;

      img {
        transform: scale(1.1);
      }
    }
  }

  img,
  span img,
  picture img,
  .next-image-wrapper img {
    width: 100%;
    height: 18rem;
    object-fit: cover;
    border-radius: calc(var(--roundness) * 2) calc(var(--roundness) * 2) 0 0 !important;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
  }

  .row {
    @include respond-to(mobile-large) {
      gap: 3em;
    }
  }

  .content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    text-align: center;
    border-radius: var(--roundness);
    overflow: hidden;
  }

  .text-wrapper {
    width: 100%;
    flex-grow: 1;
    background-color: var(--bg-main);
    padding: 1em;
    border-radius: 0 0 var(--roundness) var(--roundness);
  }

  &.bordered {
    .text-wrapper {
      background-color: $bg-transparent;
      border: 5px solid var(--border-color);
      border-top: none;
    }
  }
}
