.two-column-cta {
  font-family: 'GPCommerce', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  
  @include respond-to(mobile-large) {
    padding: 0 $size-padding;
  }
  
  h2 {
    font-family: 'GPCommerce', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #0C0C0C; // Storybook text color
  }
  
  p {
    font-family: 'GPCommerce', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1.8rem; // Storybook body font size
    color: #0C0C0C; // Storybook text color
  }

  img,
  span img,
  picture img,
  .next-image-wrapper img {
    width: 100%;
    height: 17rem;
    object-fit: cover;
    border-radius: calc(var(--roundness) * 2) calc(var(--roundness) * 2) 0 0 !important;
    margin-bottom: 1em;
  }

  .row {
    @include respond-to(mobile-large) {
      gap: 3em;
    }
  }

  .content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 1em;
    height: 100%;
    background-color: var(--bg-body);
    border-radius: var(--roundness);
    overflow: hidden;
  }

  p {
    margin-bottom: 1.5rem;
  }

  h2,
  p {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .button {
    margin-top: auto;
  }

  &.colored {
    .content-wrapper {
      background-color: var(--bg-main);
    }

      .dark & {
        .button {
          // Apply Storybook button styles directly
          display: inline-block;
          font-family: 'GPCommerce', 'Helvetica Neue', Helvetica, Arial, sans-serif;
          font-weight: 500;
          text-align: center;
          white-space: nowrap;
          vertical-align: middle;
          user-select: none;
          cursor: pointer;
          transition: all 0.2s ease-in-out;
          border: 2px solid #262AFF;
          border-radius: 50px;
          padding: 16px 24px;
          font-size: 18px;
          line-height: 1.5;
          background-color: #262AFF;
          color: #FFFFFF;
          
          &:hover:not(:disabled) {
            background-color: #1B1EC6;
            border-color: #1B1EC6;
          }
          
          &:active:not(:disabled) {
            background-color: #1517A3;
            border-color: #1517A3;
          }
          
          &:focus {
            outline: 2px solid #262AFF;
            outline-offset: 2px;
          }
          
          &:disabled {
            opacity: 0.6;
            cursor: not-allowed;
            pointer-events: none;
          }
        }
      }
  }
}
