.site-financial {
  --promo-cta-text-opacity: 1;
}

.site-services {
  --promo-cta-text-opacity: 0.65;
}

.three-column-cta {
  font-family: 'GPCommerce', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  
  @include respond-to(mobile-large) {
    padding: 0 $size-padding;
  }
  
  h2 {
    font-family: 'GPCommerce', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #0C0C0C; // Storybook text color
  }
  
  p {
    font-family: 'GPCommerce', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1.8rem; // Storybook body font size
    color: #0C0C0C; // Storybook text color
  }

  img,
  span img,
  picture img,
  .next-image-wrapper img {
    width: 100%;
    height: 14rem;
    object-fit: cover;
    border-radius: calc(var(--roundness) * 2) !important;
    margin-bottom: 1em;
  }

  .row {
    @include respond-to(mobile-large) {
      gap: 3em;
    }
  }

  .content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
  }

  p {
    margin-bottom: 1.5rem;
    opacity: var(--promo-cta-text-opacity);
  }

  .button {
    margin-top: auto;
  }

  &.bordered {
    .content-wrapper {
      border-radius: var(--roundness);
      overflow: hidden;
      align-items: center;
      text-align: center;
      border: 5px solid var(--border-color);
      padding-bottom: 1em;
    }

    h2,
    p {
      padding-left: 1rem;
      padding-right: 1rem;
    }

    img {
      border-radius: 0;
    }
  }

  &.colored {
    img,
    span img,
    picture img,
    .next-image-wrapper img {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      border-top-left-radius: calc(var(--roundness) * 2) !important;
      border-top-right-radius: calc(var(--roundness) * 2) !important;
    }

    .content-wrapper {
      background-color: var(--bg-main);
      border-radius: var(--roundness);
      overflow: hidden;
      align-items: center;
      text-align: center;
      padding-bottom: 1em;
    }

    h2,
    p {
      padding-left: 1rem;
      padding-right: 1rem;
    }

    .dark & {
      .button {
        // Apply Storybook button styles directly
        display: inline-block;
        font-family: 'GPCommerce', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-weight: 500;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        user-select: none;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        border: 2px solid #262AFF;
        border-radius: 50px;
        padding: 16px 24px;
        font-size: 18px;
        line-height: 1.5;
        background-color: #262AFF;
        color: #FFFFFF;
        
        &:hover:not(:disabled) {
          background-color: #1B1EC6;
          border-color: #1B1EC6;
        }
        
        &:active:not(:disabled) {
          background-color: #1517A3;
          border-color: #1517A3;
        }
        
        &:focus {
          outline: 2px solid #262AFF;
          outline-offset: 2px;
        }
        
        &:disabled {
          opacity: 0.6;
          cursor: not-allowed;
          pointer-events: none;
        }
      }
    }
  }

  &.with-icons {
    .row {
      border: 1px solid var(--border-color);
      border-radius: var(--roundness);
      gap: 0;

      > div:nth-child(2) {
        border-left: 1px solid var(--border-color);
        border-right: 1px solid var(--border-color);

        @include respond-to(mobile-large) {
          border-left: none;
          border-right: none;
          border-top: 1px solid var(--border-color);
          border-bottom: 1px solid var(--border-color);
        }
      }
    }

    .wrapper-link {
      display: block;
      padding: 3rem;

      &:hover {
        .image-wrapper img {
          transform: scale(1.2);
        }
      }
    }

    .image-wrapper {
      width: 5rem;
      height: 5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--bg-saturated);
      border-radius: 100%;

      img {
        width: 2rem;
        height: auto;
        margin: 0;
        border-radius: 0;
        transition: all 0.3s ease-in-out;
      }
    }
  }

  &.with-icons-compact {
    .wrapper-link {
      padding: 2rem 3rem 1rem;
    }

    .image-wrapper {
      width: 4rem;
      height: 4rem;

      img {
        width: 1.5rem;
      }
    }

    p {
      opacity: 1;
    }
  }
}
